<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3497.1841" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.3497.1841" targetFramework="net472" />
  <package id="CefSharp.Common" version="69.0.0" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="69.0.0" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net47" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="Fody" version="3.2.9" targetFramework="net47" developmentDependency="true" />
  <package id="Jot" version="1.4.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net472" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net47" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net472" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net47" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="NuGet.CommandLine" version="4.7.1" targetFramework="net472" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.5.13" targetFramework="net47" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.0" targetFramework="net472" />
</packages>