<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\VSDistribution\PhexensWuerfelraum.Server.Console</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>ubuntu.18.04-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <PublishSingleFile>False</PublishSingleFile>
    <PublishTrimmed>False</PublishTrimmed>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <IncludeNativeLibrariesForSelfExtract>True</IncludeNativeLibrariesForSelfExtract>
    <DebugType>None</DebugType>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>

    <ExcludeFilesFromDeployment>*.dll.config</ExcludeFilesFromDeployment>

    <!-- Redefine this list without .dll.config; see https://github.com/Microsoft/msbuild/issues/1307 -->
    <AllowedReferenceRelatedFileExtensions>.xml;.pri</AllowedReferenceRelatedFileExtensions>
  </PropertyGroup>
</Project>